# نادیده گرفتن همه فایل‌ها و پوشه‌ها به صورت پیش‌فرض
*

# فقط فایل‌های پایتون در مخزن ردیابی شوند
!*.py

# استثنا کردن فایل .gitignore (خود فایل .gitignore باید ردیابی شود)
!.gitignore

# نادیده گرفتن پوشه‌های مرتبط با محیط مجازی
venv/
.env/

# نادیده گرفتن فایل‌های کش پایتون
__pycache__/
*.pyc
*.pyo

# نادیده گرفتن فایل‌های لاگ و موقت
*.log
*.tmp
*.bak

# نادیده گرفتن فایل‌های تنظیمات IDE‌ها (اختیاری)
.vscode/
.idea/
